<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<h1>Siw - Spring Very Simple Demo</h1>
	</header>

	<p>Go to the next page to see fragments in action</p>
	<aside>
		<div>This is a sidebar</div>
	</aside>
	<div class="another">This is another sidebar</div>
	
	<footer th:fragment="fondo">
		<a th:href="@{/}">Home</a>
	</footer>
</body>
</html>