<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='TaskM')">
</head>
<style>
.box {
	padding: 20px;
}

.box>a {
	height: 150px;
	display: table;
	width: 100%;
	text-align: center;
	text-decoration: none !important;
	transition: 0.4s;
}

.box>a:hover {
	transform: scale(1.1);
	transition: 0.4s;
}

.box>a>span {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 30px;
}
</style>
<body>
	<navbar th:replace="fragments/base.html :: navbar"></navbar>
	<div class="container text-center mt-4">
		<div class="jumbotron shadow">
			<h1>Welcome to TaskM</h1>
			<p>TaskM is a powerful task manager for you and your team</p>
		</div>
		<div class="row  mt-4 justify-content-center">
			<div class="col-lg-3 col-md-4 col-6 box">
				<a href="/login"
					class="shadow-lg border rounded bg-success"> <span> <i class="fas fa-sign-in-alt"></i> Login</span></a>
			</div>
			<div class="col-lg-3 col-md-4 col-6 box">
				<a href="/users/register"
					class="shadow-lg border rounded bg-primary "> <span> <i class="fas fa-user-plus"></i>  Register </span></a>
			</div>
		</div>
		
	</div>

</body>
</html>