<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='TaskM')">
</head>

<body>
	<div class="container text-center mt-4">
			<div class="jumbotron shadow">
				<h1>Welcome to TaskM</h1>
				<p>TaskM is a powerful task manager for you and your team</p>
			</div>
			<div>
				<a href="/login" class="btn btn-primary shadow">Login</a> <a
					href="/users/register" class="btn btn-primary shadow">Register</a>
			</div> 
	</div>

</body>
</html>