<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Login Page')">
</head>
<body>
	<navbar th:replace="fragments/base.html :: navbar"></navbar>
	<div class="container mt-4">
		<div class="row justify-content-center">
			<form th:action="@{/login}" method="post"
				class="shadow p-3 m-2 mx-auto rounded " autocomplete="off">

				<h1>Insert your credentials</h1>
				<div th:if="${param.error}" class="alert bg-danger text-white"
					id="errorMessage">Invalid username and password.</div>
				<div class="form-group mt-4">
					<label>Username</label> <input type="text" class="form-control"
						name="username" oninput="clearError()" />

				</div>

				<div class="form-group">
					<label>Password</label><input class="form-control" type="password"
						name="password" oninput="clearError()" />

				</div>

				<div class="form-group">
					<input type="submit" value="Sign in"
						class="btn btn-primary shadow float-right" /> <a
						href="/users/register" class="align-middle">Don't have an
						account ? Sign up</a>
				</div>

			</form>
		</div>
	</div>
</body>
<script>
	function clearError() {
		var errorMessage = document.getElementById("errorMessage");
		if (errorMessage)
			errorMessage.parentElement.removeChild(errorMessage);
	}
</script>
</html>