<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Login Page')">
</head>
<body>
	<div class="container text-center mt-4">
		<div class="row justify-content-center">
			<form th:action="@{/login}" method="post"
				class="shadow p-3 m-2 mx-auto rounded " autocomplete="off">

				<h1>Insert your credentials</h1>

				<div th:if="${param.error}" class="alert bg-danger text-white"
					id="errorMessage">Invalid username and password.</div>
				<div class="form-group ">

					<label for="userNameInput">Username</label> <input
						class="form-control" id=userNameInput type="text"
						placeholder="USERNAME" onchange="clearError()" />
				</div>

				<div class="form-group ">
					<label for="passwordInput">Password</label> <input
						class="form-control" id="passwordInput" type="password"
						placeholder="PASSWORD" />
				</div>

				<div class="form-group">
					<button class="btn btn-primary shadow" type="submit">Login</button>
				</div>

			</form>
		</div>
	</div>
</body>
<script>
	var errorMessage = document.getElementById("errorMessage");
	function clearError() {
		errorMessage.innerHTML="";
	}
</script>
</html>