<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Login Page')">
</head>
<body>
	<navbar th:replace="fragments/base.html :: navbar"></navbar>
	<div class="container text-center mt-4">
		<form th:action="@{/login}" method="post">

			<h1>Insert your credentials</h1>

			<div>
				<label class="mt-4">UserName: <input type="text"
					name="username" />
				</label>
			</div>

			<div>
				<label>Password: <input type="password" name="password" />
				</label>
			</div>

			<div>
				<input type="submit" value="Sign " />
			</div>

		</form>
	</div>
</body>
</html>