<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head
	th:replace="fragments/base.html :: headerfiles(title='TaskM - My Projects')">
</head>

<body>
	<div class="container text-center mt-4">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td ><a th:href="'/projects/'+ ${project.id}" th:text="${project.name}">...</a></td>
					<td th:text="${project.description}">..</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>