<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head
	th:replace="fragments/base.html :: headerfiles(title='TaskM - Project Overview ')">
</head>

<body>

	<div class="container mt-4">
		<navbar th:replace="fragments/base.html :: navbar"></navbar>
		<div class="jumbotron text-center mt-4">
			<h1 th:text="${project.name}"></h1>
			<h4 th:text="${project.description}" class="text-secondary"></h4>
			<h4 th:text="${owner}" th:if="${canEdit} == false "></h4>
			<h4 th:if="${canEdit} ==  true ">Tu sei il proprietario di
				questo progetto</h4>
			<form th:if="${canEdit} == true "
				th:action="@{'/project/' + ${project.id} + '/delete'}" method="POST"
				class="float-right m-1">
				<div class="form-group">
					<button class="btn bg-danger text-white" type="submit">
						<i class="far fa-trash-alt"></i> Delete
					</button>
				</div>
			</form>
			<form th:if="${canEdit} == true "
				th:action="@{'/project/' + ${project.id} + '/edit'}" method="POST"
				class="float-right m-1">
				<div class="form-group">
					<button class="btn bg-success text-white" type="submit">
						<i class="far fa-edit"></i> Edit
					</button>
				</div>

			</form>
			<div class="float-left bg-secondary">
			<span th:each="tag : ${tags}" th:text="${tag.name}" class="badge badge-primary">Primary</span>
			
			</div>
			<form th:if="${canEdit} == true "
				th:action="@{'/project/'+ ${project.id} + '/addTag'}" method="POST" name="tagForm">
				<div class="row">
				<div class="input-group col-md-2 col-sm-5">
					<input type="text" class="form-control" placeholder="NAME"
						name="name">
				</div>

				<div class="input-group col-md-3 col-sm-5 ">
					<input type="text" class="form-control" placeholder="DESCRIPTION"
						name="description">
				</div>
				<div class="input-group col-md-3 col-sm-5 ">
					<input type="color" class="form-control"
						name="color">
				</div>
				<div class="input-group col-md-3 col-sm-5 ">
					
				</div>
				<div class="input-group col-md-3 col-sm-5 ">
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-plus"></i>
					</button>
				</div>

			</div>
			</form>
			
			
		</div>

		<div class="mb-3">
			<h3>Shared with:</h3>
			<ul>
				<li th:each="member : ${members}">
					<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>

				</li>

			</ul>
			<form th:if="${canEdit} == true "
				th:action="@{'/project/'+ ${project.id} + '/share'}" method="POST">

				<div class="row">
					<div class="input-group  col-md-4 col-sm-8">
						<input type="text" class="form-control" placeholder="USERNAME"
							name="username">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">
								<i class="far fa-share-square"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<h3>Tasks</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">Descrizione</th>
					<th scope="col">Assegnato a</th>
					<th scope="col" th:if="${canEdit} == true ">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${project.tasks}">
					<th><a th:if="${task.completed} == false "
						th:href="'/project/'+ ${project.id}+'/completeTask/' + ${task.id}"
						class="btn text-primary p-0" type="submit"><i
							class="far fa-square" style="font-size: 30px;"></i></a> <a
						th:if="${task.completed} == true "
						th:href="'/project/'+ ${project.id}+'/completeTask/' + ${task.id}"
						class="btn text-primary p-0" type="submit"><i
							class="far fa-check-square" style="font-size: 30px;"></i></a></th>
					<td th:text="${task.name}"></td>
					<td th:text="${task.description}" class="text-secondary"></td>
					<td th:text="${task.assignedTo}" class="text-secondary"></td>
					<td th:if="${canEdit} == true "><a
						th:href="'/project/'+${project.id}+ '/editTask/' + ${task.id}"
						class="btn bg-success text-white" type="submit"> <i
							class="far fa-edit"></i></a> <a
						th:href="'/project/'+ ${project.id}+'/deleteTask/' + ${task.id}"
						class="btn bg-danger text-white" type="submit"><i
							class="far fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>


		<form name="taskForm" th:if="${canEdit} == true "
			th:action="@{'/project/'+ ${project.id} + '/task'}" method="POST">
			<div class="row">


				<div class="input-group col-md-2 col-sm-5">
					<input type="text" class="form-control" placeholder="NAME"
						name="name">
				</div>

				<div class="input-group col-md-3 col-sm-5 ">
					<input type="text" class="form-control" placeholder="DESCRIPTION"
						name="description">
				</div>
				<div class="input-group col-md-3 col-sm-5 ">
					<select class="custom-select mb-3" name="assignedTo">
						<option selected th:text="${loggedUser.firstName} + ' ' +${loggedUser.lastName} "></option>
						<option th:each="member : ${members}"
							th:text="${member.firstName} + ' ' + ${member.lastName}">
						</option>
					</select>
				</div>
				<div class="input-group col-md-3 col-sm-5 ">
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-plus"></i>
					</button>
				</div>

			</div>
		</form>

	</div>

</body>
</html>