<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head
	th:replace="fragments/base.html :: headerfiles(title='TaskM - My Projects')">
</head>
<style th:replace="fragments/base.html :: boxes"></style>
<body>

	<div class="container text-center mt-4">
		<navbar th:replace="fragments/base.html :: navbar"></navbar>

		<div class="row mt-4">
			<h3 class="col-12">Your projects</h3>
			<div th:each="project : ${projectsList}"
				class="col-lg-3 col-md-4 col-6 box">
				<a th:href="'/project/'+ ${project.id}"
					class="shadow-lg border rounded bg-dark "> <span
					th:text="${project.name}"></span></a>
			</div>
			<div class="col-lg-3 col-md-4 col-6 box">
				<a href="/projects/add" class="shadow-lg border rounded bg-dark ">
					<span> <i class="far fa-plus-square"></i> Create
				</span>
				</a>
			</div>
		</div>
		<hr>
		<div class="row mt-4">
			<h3 class="col-12">Progetti di cui fai parte</h3>
			<div th:each="project : ${memberOfProjects}"
				class="col-lg-3 col-md-4 col-6 box">
				<a th:href="'/project/'+ ${project.id}"
					class="shadow-lg border rounded bg-dark "> <span
					th:text="${project.name}"></span></a>
			</div>
		</div>

	</div>

</body>
</html>