<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Register User')">
</head>
<body>
	
	<div class="container mt-4">
	<navbar th:replace="fragments/base.html :: navbar"></navbar>
		<div class="row justify-content-center mt-4">
			<form id="registerUserForm" th:action="@{/users/register}"
				method="POST" class="shadow p-3 m-2 mx-auto rounded "
				autocomplete="off">
				<h1>Register new User</h1>
				<hr>
				<div class="form-group ">
					<label for="userNameInput">Username</label> <input
						class="form-control" id=userNameInput type="text"
						th:field="${credentialsForm.userName}" placeholder="USERNAME" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('credentialsForm.userName')}"
						th:errors="${credentialsForm.userName}" th:style="'color:red'"></small>
				</div>
				<div class="form-group ">
					<label for="passwordInput">Password</label> <input
						class="form-control" id="passwordInput" type="password"
						th:field="${credentialsForm.password}" placeholder="PASSWORD" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('credentialsForm.password')}"
						th:errors="${credentialsForm.password}" th:style="'color:red'"></small>
				</div>

				<div class="form-group ">
					<label for="firstNameInput">First Name</label> <input
						class="form-control" id="firstNameInput" type="text"
						th:field="${userForm.firstName}" placeholder="FIRST NAME" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('userForm.firstName')}"
						th:errors="${userForm.firstName}" th:style="'color:red'">
					</small>
				</div>

				<div class="form-group ">
					<label for="lastNameInput">Last Name</label> <input
						class="form-control" id="lastNameInput" type="text"
						th:field="${userForm.lastName}" placeholder="LAST NAME" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('userForm.lastName')}"
						th:errors="${userForm.lastName}" th:style="'color:red'"> </small>
				</div>
				<div class="form-group">
					<a href="/login" class="align-middle">You already have an
						account ? Sign in</a>

				</div>
				<div class="form-group">
					<button class="btn btn-primary shadow w-100" type="submit">Register</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>