<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head
	th:replace="fragments/base.html :: headerfiles(title='Update Your Profile')"></head>
<body>

	<div class="container mt-4">
		<navbar th:replace="fragments/base.html :: navbar"></navbar>
		<div class="row justify-content-center mt-4">
			<form id="" th:action="@{'/project/edit/'+ ${projectForm.id}}"
				method="POST" class="shadow p-3 m-2 mx-auto rounded border col-10 col-md-6 col-sm-8"
				autocomplete="off" th:object="${projectForm}">
				<h1>Edit Project</h1>
				<hr>
				<div class="form-group ">
					<label for="projectName">Project Name</label> <input
						class="form-control" type="text" th:field="*{name}"
						placeholder="Name" oninput="clearError(1)" />
					<div id="error1" th:if="${#fields.hasErrors('name')}"
						class="alert bg-danger text-white mt-2" th:errors="*{name}"></div>
				</div>
				<div class="form-group ">
					<label for="projectDescription">Description</label> <input
						class="form-control" type="text"
						th:field="*{description}" placeholder="Description"
						oninput="clearError(2)" />
					<div id="error2" th:if="${#fields.hasErrors('description')}"
						class="alert bg-danger text-white mt-2" th:errors="*{description}"></div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Aggiorna
						progetto</button>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
	function clearError(t) {
		var errorMessage = document.getElementById("error" + t);
		if (errorMessage)
			errorMessage.parentElement.removeChild(errorMessage);
	}
</script>
</html>