<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Admin')">
</head>
<body>
	<div class="container mt-4">
		<navbar th:replace="fragments/base.html :: navbar"></navbar>
		<h1 th:text="'Welcome, Master ' + ${loggedUser.firstName} + '!'"></h1>
		<h4>
			<a href="/admin/users">You're the admin</a>
		</h4>


		<h2>List of users</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" credentials : ${credentialsList}">
					<td th:text="${credentials.userName}"></td>
					<td th:text="${credentials.user.firstName}"></td>
					<td th:text="${credentials.user.lastName}"></td>
					<td>
						<form method="POST"
							th:action="@{'/admin/users/'+${credentials.userName}+'/delete'}">
							<button class="btn bg-danger text-white" type="submit" th:if="${credentials.role == 'DEFAULT' }">
								<i class="far fa-trash-alt"></i> Delete
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<h2>List of Projetcs</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Owner</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" project : ${projectsList}">
					<td th:text="${project.name}"></td>
					<td th:text="${project.description}"></td>
					<td th:text="${project.owner.firstName} + ' ' + ${project.owner.lastName} "></td>
					<td>
						<form method="POST"
							th:action="@{'/admin/projects/'+${project.id}+'/delete'}">
							<button class="btn bg-danger text-white" type="submit">
								<i class="far fa-trash-alt"></i> Delete
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>