<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Home Page')">
</head>
<style th:replace="fragments/base.html :: boxes"></style>
<style>
.jumbotron {
	background: rgb(174, 255, 0);
	background: linear-gradient(100deg, rgba(174, 255, 0, 1) 0%,
		rgba(2, 94, 23, 1) 100%);
}
</style>
<body>
	<div class="container text-center mt-4">
		<navbar th:replace="fragments/base.html :: navbar"></navbar>
		<div class="jumbotron mt-4">
			<h1 th:text="'Welcome, ' + ${user.firstName} + '!'"></h1>
		</div>
		<div class="row mt-4">
		<div class="col-lg-3 col-md-4 col-sm-8 box " th:if="${role == 'ADMIN' }">
				<a href="/admin" class="shadow-lg border rounded bg-primary "> <span>
						<i class="fas fa-user-shield"></i> Admin
				</span></a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-8 box">
				<a href="/projects" class="shadow-lg border rounded bg-dark "> <span>
						<i class="fas fa-project-diagram"></i> My Projects
				</span></a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-8 box">
				<a href="/users/me" class="shadow-lg border rounded bg-dark "> <span>
						<i class="far fa-user"></i> My Profile
				</span></a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-8 box">
				<a href="/logout" class="shadow-lg border rounded bg-danger "> <span>
						<i class="fas fa-sign-out-alt"></i> Logout
				</span></a>
			</div>
		</div>
	</div>
</body>
</html>